* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 200px;
  transition: 0.5s ease;
}
header .brand {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
header .navigtion {
  position: relative;
}
header .navigtion .navitems a {
  position: relative;
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
}
.contant {
  position: absolute;
  bottom: 31%;
  padding: 15px 200px;
  display: none;
}
.contant .main-title h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}
.contant .main-title span {
  font-weight: 600;
}
.contant .main-title p {
  margin-top: 23px;
  margin-bottom: 65px;
  color: #fff;
}
.contant .main-title #read {
  text-decoration: none;
  color: #1680ac;
  background-color: #fff;
  padding: 15px 35px;
}
.social-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 90%;
  bottom: 50%;
  gap: 22px;
}
.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease;
}
.social-icons a:hover {
  transform: scale(1.3);
}
.video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-nav {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slider-nav .nav-btn {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3 ease;
  top: 566px;
}
.slider-nav .nav-btn:not(:last-child) {
  margin-right: 20px;
}
.slider-nav .nav-btn:hover {
  transform: scale(1.2);
}
.slider-nav .nav-btn.active {
  background: #2696e9;
}
.video {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
.contant.active {
  display: block;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  .main-title {
    margin-bottom: -143px;
    margin-left: -183px;
  }
  .title {
    position: relative;
    right: 182px;
  }
  .navitems {
    display: flex;
    justify-content: space-between;
    margin-left: -160px;
  }
  .video {
    height: 128%;
  }
}
@media only screen and (max-width: 870px) {
  .video {
    height: 133%;
    width: 102%;
  }
}
@media only screen and (max-width: 930px) {
  .social-icons {
    margin-left: -17px;
  }
}
@media only screen and (max-width: 790px) {
  .video {
    width: 109%;
    height: 144%;
  }
  .main-title {
    margin-bottom: -250px;
  }
  .social-icons {
    margin-left: 22px;
  }
  .navitems {
    margin-left: -175px;
  }
}
@media only screen and (max-width: 955px) {
  .social-icons {
    margin-left: 2px;
  }
}
@media only screen and (max-width: 650px) {
  .video {
    width: 185%;
    height: 185%;
  }
  .contant .main-title {
    margin-bottom: -415px;
  }
  .social-icons {
    margin-left: 174px;
    margin-bottom: -195px;
  }
}
